#simple_iframe_popup_container {
    display: none;
}
#simple_iframe_form .simple_iframe_label {
    font-size: 14px;
    color: black;
}
#simple_iframe_form .simple_iframe_field {
    width: 100%;
}
#simple_iframe_form .required {
    color: red;
}
#simple_iframe_form .description {}
#simple_iframe_form .simple_iframe_buttons_wrapper {
    margin-top: 50px;
    text-align: center;
}
.no-padding {
    padding: 0 !important;
}

.simple_iframe_popup_container {
    height: 350px;
}

.simple_iframe_popup_container #tabs_container {width: auto;font-family: Arial, Helvetica, sans-serif;font-size: 12px;}
.simple_iframe_popup_container #tabs_container ul.tabs {list-style: none;border-bottom: 1px solid #ccc;height: 23px;margin: 0;}
.simple_iframe_popup_container #tabs_container ul.tabs li {float: left;}
.simple_iframe_popup_container #tabs_container ul.tabs li a {padding: 3px 10px;display: block;border-left: 1px solid #ccc;border-top: 1px solid #ccc;border-right: 1px solid #ccc;margin-right: 2px;
    text-decoration: none;background-color: #efefef;border-top-left-radius: 5px;border-top-right-radius: 5px}
.simple_iframe_popup_container #tabs_container ul.tabs li.active a {background-color: #fff;padding-top: 4px;}
.simple_iframe_popup_container div.tab_contents_container {border: 1px solid #ccc;border-top: none;padding: 10px;}
.simple_iframe_popup_container div.tab_contents_active {	display: block;}
div.clear {clear: both;}
.simple_iframe_popup_container .tab_right li a{padding:5px;}

.simple_iframe_popup_container #tabs_container {
    padding: 20px;
}


#TB_window {
    /*max-height: 350px !important;
    overflow: auto;*/
}
#TB_ajaxContent {

}
@media screen and (max-width: 719px) {
    #TB_window {
        max-height: 100% !important;
        height: 100% !important;
    }
    #TB_ajaxContent {
        height: 100% !important;
    }
}
@media screen and (max-width: 519px) {
    .simple_iframe_popup_container .button {
        width: 130px !important;
    }
}
